@{
    ViewData["Title"] = "You don't have permission to access this page";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>
        <p class="govuk-body">To access this page, you must return to the government page you came from and start again.</p>
        <p class="govuk-body">You can also start again from the <a href="https://www.gov.uk" class="govuk-link">GOV.UK home page</a>.</p>
        <p class="govuk-body">You might need your DfE Sign-in email and password.</p>
        <p class="govuk-body">Make sure your web browser can accept cookies.</p>
    </div>
</div>