@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.SelectToReview.SelectToReviewPageViewModel

<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
                Select a T Level to review
            </h1>
        </legend>

        <p class="govuk-hint govuk-!-padding-bottom-4">You need to confirm the details of each T Level before you can tell us which centres are offering it.</p>

        <div class="govuk-radios govuk-!-padding-bottom-2">

            @foreach (var tlevel in Model.TlevelsToReview)
            {
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="tlevel-@tlevel.PathId" name="tlevel-@tlevel.PathId" type="radio" value=@tlevel.PathId>
                    <label class="govuk-label govuk-radios__label" for="tlevel-@tlevel.PathId">
                        @tlevel.TLevelDescription
                    </label>
                </div>
            }

        </div>
    </fieldset>
</div>