@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Provider.FindProviderViewModel

@{
    ViewData["Title"] = "Find a provider";
}

@section Scripts {
    <script src="~/javascripts/provider-search.min.js"></script>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" />
        <form class="form" id="FindProviderForm" asp-route="FindProvider">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
                        <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-5">
                            Find a provider
                        </h1>
                    </legend>
                    <p class="govuk-body">Tell us which T Levels a provider will offer.</p>
                    <div class="govuk-form-group" sfa-validation-for="Search" sfa-validation-class="govuk-form-group--error">
                        <label class="govuk-label" for="search">
                            Enter the provider's name
                        </label>
                        <span sfa-validation-for="Search"></span>
                        <input id="search" name="Search" class="govuk-input" asp-for="Search" />
                    </div>
                </fieldset>
            </div>
            <input id="selectedProviderId" type="hidden" />
            <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
        </form>
    </div>
</div>