@model IList<Sfa.Tl.ResultsAndCertification.Web.ViewModel.Provider.ProviderDetailsViewModel>

@{
    ViewData["Title"] = "Your providers list";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
            Your providers
        </h1>

        <p class="govuk-body govuk-!-margin-bottom-5">The T Level providers you have already set up are:</p>
        @foreach (var provider in Model)
        {
            <dl class="govuk-summary-list govuk-!-margin-bottom-3">
                <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__value govuk-heading-m">
                        @provider.DisplayName <span class="govuk-hint"><abbr>UKPRN</abbr>: @provider.Ukprn</span>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            View <span class="govuk-visually-hidden">@provider.DisplayName</span>
                        </a>
                    </dd>
                </div>
            </dl>
        }

        <p><a class="govuk-button govuk-button--secondary" role="button" href="#">Add another provider</a></p>
        <p><a class="govuk-button" role="button" href="#">Home</a></p>

    </div>
</div>