@using Sfa.Tl.ResultsAndCertification.Web.Content.Registration;
@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Registration.Manual.SelectCoreViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Sfa.Tl.ResultsAndCertification.Web

<div sfa-validation-for="SelectedCoreId" sfa-validation-class="govuk-form-group--error">
    <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l govuk-!-margin-bottom-6" for="SelectedCoreId">
            @SelectCore.Select_The_Core_Label_Text
        </label>
    </h1>
    <span sfa-validation-for="SelectedCoreId"></span>
    <select class="govuk-select" id="selectedcoreid" asp-for="SelectedCoreId" asp-items="Model.CoreSelectList">
        <option value="">@SelectCore.Select_One_Option_Text</option>
    </select>
</div>