resources:
  repositories:
    - repository: self
      persistCredentials: true
      clean: true

    - repository: devopsTemplates
      type: github
      endpoint: DfE-Digital
      name: DFE-Digital/operations-devops-pipeline-templates
    - repository: devopsTools
      type: github
      endpoint: DfE-Digital
      name: DFE-Digital/operations-devops-tools

trigger:
  branches:
    include: 
    - master
    - develop
    - Release*
    - feature/* 
    - hotfix/*
    - bugfix/*
     
pr: 
  - master
  - develop
  - Release*

pool:
  name: 'Azure Pipelines'
  vmImage: 'windows-latest'
  
variables:
- template: ./Automation/variables/vars-global.yml@devopsTemplates
- name: applicationName
  value: resac
stages:
  - template: ./yaml/stages/tlevels-master-stage.yml
