@{
    ViewData["Title"] = "Access denied";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>
        <p class="govuk-body">You do not have access to that part of the Manage T Levels service. If you think you should have access, please contact the person who set up your DfE Sign-in account.</p>
    </div>
</div>