
@{
    ViewData["Title"] = "Page not found";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
        <p class="govuk-body">If you typed the web address, check it's correct.</p>
        <p class="govuk-body">If you pasted the web address, check you copied the full address.</p>
        <p class="govuk-body">If the web address is correct or you selected a link or button, <a href="#" class="govuk-link">contact the Manage T Levels team</a> to speak to someone about the T Levels tasks you need to complete.</p>        
    </div>
</div>