@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting;

@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Error.ProblemWithServiceViewModel
@inject IWebHostEnvironment WebHostingEnvironment
@{
    ViewData["Title"] = "Problem with service page";
    var ex = ViewData["Exception"] as Exception;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
        @if (WebHostingEnvironment.IsDevelopment())
        {
            <h2 class="govuk-heading-l">An error occurred while processing your request.</h2>

            if (Model.ShowRequestId)
            {
                <p class="govuk-body">
                    <strong>Request ID:</strong> <code>@Model.RequestId</code>
                </p>
            }

            <h3 class="govuk-heading-m">Development Mode</h3>
            <p class="govuk-body">
                Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
            </p>
            <p class="govuk-body">
                <strong>Development environment should not be enabled in deployed applications</strong>, as it can result in sensitive information from exceptions being displayed to end users. For local debugging, development environment can be enabled by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>, and restarting the application.
            </p>
            <h3>@ex?.Message</h3>
            <div>@ex?.InnerException?.Message</div>
            <div>@ex?.StackTrace</div>
        }
        else
        {
            <h2 class="govuk-heading-l">
                Try again later.
            </h2>
            <p class="govuk-body">
                <a href="mailto: @Model.TechnicalSupportEmailAddress?subject=Problem with the service">Contact the Manage T Level results team</a>
                if you need help with the T Level tasks you need to complete.
            </p>
        }

    </div>
</div>
