@using Sfa.Tl.ResultsAndCertification.Web.Content.Error

@{
    ViewData["Title"] = @AccessDenied.Service_Access_Denied_Page_Title;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@AccessDenied.Service_Access_Denied_Section_Heading</h1>
        <p class="govuk-body">@AccessDenied.Service_Access_Denied_Section_Text</p>
    </div>
</div>