@using Sfa.Tl.ResultsAndCertification.Web.Content.Error

@{
    ViewData["Title"] = @VirusUploaded.Page_Title;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            @VirusUploaded.Page_Heading
        </h1>
        <p class="govuk-body">
            @VirusUploaded.Body_Text
        </p>
        <p>
            <a class="govuk-button" role="button" asp-route="Home">
                @VirusUploaded.Back_To_Home_Button_Text
            </a>
        </p>
    </div>
</div>

