@model Sfa.Tl.ResultsAndCertification.Web.ViewComponents.Summary.SummaryItem.SummaryItemModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        @Model?.Title
    </dt>
    <dd class="govuk-summary-list__value">
        @if (Model?.HasTag == true)
        {
            <strong class="govuk-tag @Model.TagCssClass">@Model?.Value</strong>
        }
        else
        {
            <p class="govuk-body">@Model?.Value</p>
        }
    </dd>
    @if (!string.IsNullOrEmpty(Model.AdditionalColumn))
    {
        <dd class="govuk-summary-list__value">
            <p class="govuk-body">@Model?.AdditionalColumn</p>
        </dd>
    }
    <dd class="govuk-summary-list__actions">
        @if (!string.IsNullOrWhiteSpace(Model?.ActionText))
        {
            <a class="govuk-link" id="@Model?.Id" asp-route="@Model?.RouteName" asp-all-route-data="@Model?.RouteAttributes">
                @Model?.ActionText
                @if (Model?.RenderHiddenActionText == true)
                {
                    var hiddenText = !string.IsNullOrWhiteSpace(Model?.HiddenActionText) ? Model?.HiddenActionText : Model?.Title;
                    <span class="govuk-visually-hidden">@hiddenText</span>
                }
            </a>
        }
    </dd>
</div>

