@using Sfa.Tl.ResultsAndCertification.Web.Content.AdminDashboard;

<div id="changereason-info" class="govuk-hint govuk-js-character-count__message">
    @ReviewChangeStartYear.Message_You_Have_Characters_Remaining
</div>
<noscript>
    <style type="text/css">
        #changereason-info {
            display: none;
        }
    </style>
    <div class="govuk-hint govuk-js-character-count__message">
        @ReviewChangeStartYear.Message_You_Can_Enter_Up_To_Characters
    </div>
</noscript>
