<div class="govuk-width-container">
    <div class="govuk-phase-banner">
        <ul class="header__menu-links govuk-body">
            <li><a class="govuk-link--no-visited-state" href="/">Services</a></li>
            <li><a class="govuk-link--no-visited-state" href="/">Organisations</a></li>

            <li class="pull--right hard--right"><a class="govuk-link--no-visited-state" asp-controller="Account" asp-action="SignedOut">Sign out</a></li>
            <li class="pull--right"><a class="govuk-link--no-visited-state" href="/">Help</a></li>
            <li class="pull--right"><a class="govuk-link--no-visited-state" href="/">Profile</a></li>
        </ul>
    </div>
</div>