<div id="tl-cookie-message" class="tl-cookie-banner govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body govuk-!-padding-top-4">
                This service needs to use cookies to make the site work.
            </p>
            <a id="hide-cookie-message" class="govuk-button govuk-!-margin-right-4" role="button">
                Hide this message
            </a>
            <a class="govuk-button" role="button" asp-route="Cookies">
                View cookie policy
            </a>
        </div>
    </div>
</div>