@addTagHelper *, NWebsec.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en" class="govuk-template">

<partial name="_govuk_Head" />

<body class="govuk-template__body">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NH6LQLJ"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <script nws-csp-add-nonce="true">
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <partial name="_govuk_CookieBanner" />
    <partial name="_govuk_Header" />

    @if (User.Identity.IsAuthenticated)
    {
        <partial name="_govuk_PhaseBanner" />
    }

    <div class="govuk-width-container">
        @RenderSection("NavigationBar", required: false)
        <main class="govuk-main-wrapper" id="main-content" role="main">
            @RenderBody()
        </main>
    </div>

    <partial name="_govuk_Footer" />

    <partial name="_govuk_Scripts" />
    @RenderSection("Scripts", required: false)

</body>
</html>