@addTagHelper *, NWebsec.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en" class="govuk-template">

<partial name="_govuk_Head" />

<body class="govuk-template__body">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NH6LQLJ"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <script nws-csp-add-nonce="true">
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <a id="skipToMainContent" href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <div id="timeout-message" class="tl-timeout-message hidden">
        <div class="govuk-grid-row">
            <div class="tl-modal tl-modal--timeout" role="dialog" aria-modal="true" aria-labelledby="timeoutHeading" aria-describedby="timeoutDescription">
                <div class="tl-modal--content">
                    <h1 id="timeoutHeading" class="govuk-heading-l govuk-!-padding-top-4">You will be signed out soon</h1>
                    <p id="timeoutDescription" class="govuk-body">For security reasons we will sign you out if you remain inactive. You will be signed out in <span id="minutesCounter"></span> <span id="secondsCounter"></span>.</p>
                    <a id="keepMeSignedIn" class="govuk-button govuk-!-margin-right-4" role="button" tabindex="0">
                        Keep me signed in
                    </a>
                    <a class="govuk-link modal-signout-link" role="link" href="/signout">
                        Sign out
                    </a>
                </div>
            </div>
        </div>
    </div>

    <partial name="_govuk_CookieBanner" />
    <partial name="_govuk_Header" />

    @if (User.Identity.IsAuthenticated)
    {
        <partial name="_govuk_PhaseBanner" />
    }

    <div class="govuk-width-container">
        @RenderSection("NavigationBar", required: false)
        <main class="govuk-main-wrapper" id="main-content" role="main">
            @RenderBody()
        </main>
    </div>

    <partial name="_govuk_Footer" />

    <partial name="_govuk_Scripts" />
    @RenderSection("Scripts", required: false)

</body>
</html>