@if (!ViewData.ModelState.IsValid)
{
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary" autofocus>
        <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">

                @{ var properties = ViewContext.ViewData.ModelMetadata.Properties.Where(x => ViewContext.ViewData.ModelState.Any(s => s.Key.Equals(x.Name, StringComparison.InvariantCultureIgnoreCase))); }

                @foreach (var property in properties)
                {
                    var stateItem = ViewContext.ViewData.ModelState.FirstOrDefault(s => s.Key.Equals(property.Name));

                    if (stateItem.Equals(default(KeyValuePair<string, Microsoft.AspNetCore.Mvc.ModelBinding.ModelStateEntry>)))
                        continue;

                    var elementId = Html.GenerateIdFromName(ViewData.TemplateInfo.GetFullHtmlFieldName(stateItem.Key)) ?? stateItem.Key;

                    foreach (var error in stateItem.Value.Errors)
                    {
                        <li><a href="#@elementId.ToLower()">@error.ErrorMessage </a></li>
                    }
                }
            </ul>
        </div>
    </div>
}