@model Sfa.Tl.ResultsAndCertification.Web.ViewComponents.Summary.SummaryList.SummaryListModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<dl class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        @Html.Raw(@Model?.Title)
    </dt>

    <div class="govuk-summary-list__value">
        @{
            if ((Model?.Value == null || Model?.Value?.Count() == 0) && !string.IsNullOrWhiteSpace(Model?.HiddenText))
            {
                <dd class="govuk-body govuk-!-margin-left-0 govuk-visually-hidden">@Model.HiddenText </dd>
            }
            else
            {
                foreach (string val in Model.Value)
                {
                    <dd class="govuk-body govuk-!-margin-left-0">
                        @Html.Raw(@val)
                    </dd>
                }
            }
        }
    </div>

    <dd class="govuk-summary-list__actions">
        @if (!string.IsNullOrWhiteSpace(Model?.ActionText))
        {
            <a class="govuk-link" id="@Model?.Id" asp-route="@Model?.RouteName" asp-all-route-data="@Model?.RouteAttributes">@Model?.ActionText<span class="govuk-visually-hidden">@Model?.Title</span></a>
        }
    </dd>
</dl>