@using Sfa.Tl.ResultsAndCertification.Web.Content.PostResultsService

<noscript>
    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            @UploadRomms.Js_Disabled_Upload_File_Help_Text
        </strong>
    </div>

    <button id="uploadRommsButton" class="govuk-button" data-module="govuk-button" type="submit" data-prevent-double-click="true">@UploadRomms.Js_Disabled_Upload_File_Button_Text</button>
</noscript>