@using Sfa.Tl.ResultsAndCertification.Web.Content.Assessment

<noscript>
    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">@Upload.Warning_Text</span>
            @Upload.Js_Disabled_Upload_File_Help_Text
        </strong>
    </div>

    <button id="uploadAssessmentsButton" class="govuk-button" data-module="govuk-button" type="submit">@Upload.Js_Disabled_Upload_File_Button_Text</button>
</noscript>