@using Sfa.Tl.ResultsAndCertification.Common.Extensions
@using Sfa.Tl.ResultsAndCertification.Web.ViewComponents.DashboardBanner
@model IEnumerable<DashboardBannerModel>

<div class="govuk-grid-row">

    @if (!Model.IsNullOrEmpty())
    {
        @foreach (var banner in Model)
        {
            <div class="govuk-grid-column-full">
                <vc:dashboard-banner model="banner"></vc:dashboard-banner>
            </div>
        }

    }
</div>