@using Sfa.Tl.ResultsAndCertification.Common.Extensions
@{
    ViewData["Title"] = "Manage T Levels";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <!-- MAIN HEADING -->
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <!-- SUBHEADING -->
            <span class="govuk-caption-l">
            </span>

            <div class="govuk-form-group">
                <h1 class="govuk-heading-l">
                    @ViewData["Title"]
                </h1>
            </div>
        </div>
    </div>

    <!-- MAIN ROW -->
    <div class="govuk-grid-row">

        <!-- BLOCK 1 – T Levels -->
        <div class="govuk-grid-column-one-half">
            <div class="govuk-form-group card" name="hub-choice-1">
                <p class="govuk-body">
                    <h2 class="govuk-heading-m">
                        <a class="govuk-link--no-visited-state" href="ao-t-levels">
                            Account
                        </a>
                    </h2>
                </p>

                <p class="govuk-body">
                    Manage your profile and permissions
                </p>
            </div>
        </div>

        @if (Context.User.HasSiteAdministratorRole() || Context.User.HasTlevelsReviewerRole())
        {
            <!-- BLOCK 2 – Providers -->
            <div class="govuk-grid-column-one-half">

                <div class="govuk-form-group card" name="hub-choice-2">
                    <p class="govuk-body">
                        <h2 class="govuk-heading-m">
                            <a class="govuk-link--no-visited-state" href="t-levels">
                                T Levels
                            </a>
                        </h2>
                    </p>

                    <p class="govuk-body">
                        Review your T Levels and tell us if they are correct
                    </p>

                </div>
            </div>
        }

        @if (Context.User.HasSiteAdministratorRole() || Context.User.HasCentresEditorRole())
        {
            <!-- FIRST FUNCTION ROW -->
            <!-- BLOCK 3 Students -->
            <div class="govuk-grid-column-one-half">
                <div class="govuk-form-group card" name="hub-choice-3">
                    <p class="govuk-body">
                        <h2 class="govuk-heading-m">
                            <a class="govuk-link--no-visited-state" href="action-ao-view-students">
                                Centres
                            </a>
                        </h2>
                    </p>

                    <p class="govuk-body">
                        Tell us which T Levels each centre is offering
                    </p>
                </div>
            </div>
        }
    </div>
</main>