@using Sfa.Tl.ResultsAndCertification.Web.Content.Help

@{
    ViewData["Title"] = @Privacy.Page_Title;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            @Privacy.Section_Heading
        </h1>
        <h2 class="govuk-heading-m">
            How we use your personal information
        </h2>
        <p class="govuk-body">The Manage T Level results service is run by the Education and Skills Funding Agency (ESFA), an executive agency of the Department for Education (DfE).</p>
        <p class="govuk-body">This privacy notice explains how we (DfE and ESFA) use your personal information.</p>
        <p class="govuk-body">For the purposes of relevant data protection legislation, DfE is the data controller.</p>
        <p class="govuk-body">The Manage T Level results service uses:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>your work email address</li>
            <li>a password</li>
        </ul>
        <p class="govuk-body">We use this personal data to enable you to log in and manage your T Level details, providers, registrations and results.</p>
        <p class="govuk-body">Where you register on the service the personal information you give us will be used for administration and research purposes.</p>

        <h2 class="govuk-heading-m">
            How long we hold personal information
        </h2>
        <p class="govuk-body">We will store your personal data for an indefinite period.</p>

        <h2 class="govuk-heading-m">
            Who we share your personal information with
        </h2>
        <p class="govuk-body">We do not share your personal information with any other organisations, unless there is a legal obligation to do so.</p>

        <h2 class="govuk-heading-m">
            Your individual rights
        </h2>
        <p class="govuk-body">You have the right to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>request a copy of personal information that we hold about you</li>
            <li>request that we correct any wrong or incomplete personal information</li>
        </ul>
        <p class="govuk-body">You can access the information we hold on you by signing in to your account.</p>
        <p class="govuk-body">You can read more about <a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter">how the DfE handles personal information</a>.</p>
        <p class="govuk-body">Under the Data Protection Act 2018, you are entitled to ask if we hold information relating to you and ask for a copy, by making a ‘subject access request’.</p>
        <p class="govuk-body">For further information and how to request your data, please use the <a class="govuk-link" href="https://form.education.gov.uk/fillform.php?self=1&form_id=cCCNJ1xSfBE&type=form&ShowMsg=1&form_name=Contact+the+Department+for+Education&noRegister=false&ret=%2Fmodule%2Fservices&noLoginPrompt=1">contact form</a> in the <a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter">Personal Information Charter</a> under the ‘How to find out what personal information we hold about you’ section.</p>
        <p class="govuk-body">If you need to contact us regarding any of the above, please do so via the <a class="govuk-link" href="https://www.gov.uk/contact-dfe">DfE site</a>.</p>
        <p class="govuk-body">You can read further information about your data protection rights at the <a class="govuk-link" target="_blank" href="https://ico.org.uk/">Information Commissioner’s Office (opens in a new window or tab)</a>.</p>

        <h1 class="govuk-heading-xl govuk-!-padding-top-6">
            Privacy policy - learner data
        </h1>

        <h2 class="govuk-heading-m">
            How we use learner data
        </h2>
        <p class="govuk-body">Awarding organisations need to supply us with learner data. We use this to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>validate registrations</li>
            <li>calculate results </li>
            <li>print certificates</li>
        </ul>
        <p class="govuk-body">We take all reasonable steps to keep data secure.</p>
        <p class="govuk-body">The lawful basis for collecting and processing the data is the Apprenticeships, Skills, Children and Learning Act 2009 and the Further and Technical Education Act 2017.</p>
        <p class="govuk-body">Get more information on the department-wide privacy policy in the <a class="govuk-link" href="https://www.gov.uk/government/publications/esfa-privacy-notice/education-and-skills-funding-agency-privacy-notice-may-2018#further-information-on-processing-your-information">ESFA privacy policy</a>.</p>

        <h2 class="govuk-heading-m">
            How long we hold learner data
        </h2>
        <p class="govuk-body">Manage T Level results will keep learner data for 4 years.</p>

        <h2 class="govuk-heading-m">
            Who we share learner data with
        </h2>
        <p class="govuk-body">Once Manage T Level results has component results data, this will be sent to the Learning Records Service, where it will be stored for 66 years. After this period, it will be securely destroyed.</p>
        <p class="govuk-body">In order for us to analyse and publish performance tables we will share learner data with:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>the Institute for Apprenticeships and Technical Education</li>
            <li>third party suppliers</li>
        </ul>
        <p class="govuk-body">We share learner data with the Universities and Colleges Admissions Service (UCAS). This enables UCAS to match results data with students’ applications. UCAS then sends the data to the universities and colleges that are holding offers for them.</p>
        <p class="govuk-body">We do not share your personal information with any other organisations, unless there is a legal obligation to do so.</p>

        <h2 class="govuk-heading-m">How to complain</h2>
        <p class="govuk-body">Contact us using our <a class="govuk-link" href="https://form.education.gov.uk/fillform.php?self=1&form_id=cCCNJ1xSfBE&type=form&ShowMsg=1&form_name=Contact+the+Department+for+Education&noRegister=false&ret=%2Fmodule%2Fservices&noLoginPrompt=1">secure online contact form</a> or by writing to:</p>
        <p class="govuk-body">
            Ministerial and Public Communications Division<br/>
            Department for Education<br/>
            Piccadilly Gate<br/>
            Store Street<br/>
            Manchester<br/>
            M1 2WD
        </p>
        <p class="govuk-body">If you want to contact the DfE’s data protection officer, please use the secure online form or write to the address above.</p>
        <p class="govuk-body">You also have the right to complain to the <a class="govuk-link" target="_blank" href="https://ico.org.uk/make-a-complaint/">Information Commissioner’s Office (opens in a new window or tab)</a>.</p>
    </div>
</div>