@{
    ViewData["Title"] = "User guide";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Manage T Levels results user guide
        </h1>
        <p class="govuk-body">The Manage T Level results service is run by the Education and Skills Funding Agency (ESFA), an executive agency of the Department for Education (DfE).</p>
        <p class="govuk-body">As an awarding organisation, this service enables you to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>tell us if T Level details are correct</li>
            <li>tell us which T Levels each provider is offering</li>
            <li>upload, download and amend student registrations</li>
            <li>enter and generate results</li>
        </ul>

        <p class="govuk-body">This user guide tells you how to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>sign in and manage your account</li>
            <li>manage your T Level details, registrations and results</li>
        </ul>

        <h2 class="govuk-heading-m">
            Signing in
        </h2>
        <p class="govuk-body">In order to use Manage T Level results you need a DfE Sign-in account. You need to sign in with the work email address and password you set up for DfE Sign-in.</p>
        <p class="govuk-body">If you have not got a DfE Sign-in account, ask someone with an ‘approver’ role within your organisation to set up an account for you and give you access to Manage T Level results. DfE Sign-in will send you an email so you can verify your work email address.</p>

        <h2 class="govuk-heading-m">
            Signing out
        </h2>
        <p class="govuk-body">Select ‘sign out’ in the top right-hand corner of the screen to sign out and return to the introduction page. For security reasons you should always sign out when you have finished using the service.</p>

        <h2 class="govuk-heading-m">
            Timeout
        </h2>
        <p class="govuk-body">If you are signed in but are inactive for 20 minutes you will be signed out.</p>

        <h2 class="govuk-heading-m">
            Changing your password
        </h2>
        <p class="govuk-body">You can change your password at any time in your profile. If you forget your password you can reset it using the forgotten your password page.</p>

        <h2 class="govuk-heading-m">
            Changing your email
        </h2>
        <p class="govuk-body">You can change your email address at any time in your profile. Once you have changed your email address you need to activate it on a verification email. For security you also need to request the email address change on an email sent to your old account.</p>

        <h2 class="govuk-heading-m">
            Finding the login page
        </h2>
        <p class="govuk-body">The website address is in the email we sent you about the launch of the service. </p>

        <h2 class="govuk-heading-m">
            Awarding organisation roles and permissions
        </h2>
        <p class="govuk-body">A user can be given more than one role.</p>
        <p class="govuk-body"><strong>Site Administrator</strong> – has all roles: T Levels Reviewer, Providers Editor</p>
        <p class="govuk-body"><strong>T Levels Reviewer</strong> – reviews T Level Technical Qualification titles and confirms that details are correct or not</p>
        <p class="govuk-body"><strong>Providers Editor</strong> – can enter and amend the T Levels each provider is offering</p>

        <h2 class="govuk-heading-m">T Level Review tasks</h2>
        <p class="govuk-body">From the Manage T Levels results home page if you select ‘T Levels’ the service will ask you to review the Technical Qualification details of any T Levels that have not yet been confirmed. This happens automatically for any T Levels awaiting confirmation.</p>
        <p class="govuk-body">In your review you should check that the Technical Qualification details are correct for your T Levels. This includes the T Level’s Core Component and Specialisms. This is important because these details will appear on students’ certificates.</p>
        <p class="govuk-body">You do not need to review the route title. If all the details are correct you should select ‘yes’. You will then get a message to make it clear that the T Level’s Technical Qualification details have been confirmed.</p>
        <p class="govuk-body">When you have confirmed all your T Levels’ Technical Qualification details you can still view them to check everything remains correct.</p>
        <p class="govuk-body">If during your review you find any Technical Qualification details are wrong or missing, select ‘no’ to query it with us. We will then investigate your query and update you within 3 working days.</p>
        <p class="govuk-body">You can still query a confirmed T Level’s Technical Qualification details at a later date, if you think the information is not accurate anymore.</p>

        <h2 class="govuk-heading-m">
            Providers Editor tasks
        </h2>
        <p class="govuk-body">From the Manage T Levels results home page if you select ‘Providers’ you can tell us which T Levels a provider is offering. You find providers by searching on their name. You can then select which T Levels to add or remove. We recommend that you only add a T Level to a provider once the T Level’s details have been confirmed as correct in the ‘T Levels’ section.</p>



        <h2 class="govuk-heading-m">
            Further help
        </h2>
        <p class="govuk-body">If you have any questions about using our service you can <a href="mailto: @Model.TechnicalSupportEmailAddress?subject=User guide query">contact us</a>.</p>

    </div>
</div>