
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
            <span class="govuk-caption-xl">Add a new learner record</span>
            <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l govuk-!-margin-bottom-6" for="ULN">
                    Enter the Unique Learner Number (ULN)
                </label>
            </h1>
            <div class="govuk-inset-text" style="margin-top: 0px;">
                You can only add records for learners who have been registered on a T Level programme by your awarding organisation.
            </div>
            <span id="uln-number-hint" class="govuk-hint">
                ULN must be 10 digits long
            </span>
            <input class="govuk-input govuk-input--width-10" id="ULN" name="ULN" inputmode="numeric">
        </div>
        <p>
            <a class="govuk-button govuk-!-margin-right-1" role="button" href="add-learner-q2-em">
                Continue
            </a>
        </p>
    </div>
</div>