@using Sfa.Tl.ResultsAndCertification.Web.Content.Tlevel

@{
    ViewData["Title"] = "Sorry, there is a problem with our query service page - Manage T Level results - GOV.UK";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Sorry, there is a problem with our query service
        </h1>

        <p class="govuk-body">Try again later. We have not saved your query. When the service is available, you will have to start again.</p>

    </div>
</div>