@using Sfa.Tl.ResultsAndCertification.Web.Content.Tlevel
@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.TlevelQueryViewModel

@{
    ViewData["Title"] = "Report T Level issue page";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Query T Level details</h1>

        <form class="form" action="confirmation-finished-queried" method="post">
            <div class="govuk-form-group">
                <label class="govuk-label" for="more-detail">
                    Tell us what’s wrong with this T Level's details.
                </label>
                <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
            </div>

            <dl class="govuk-summary-list govuk-!-margin-bottom-7">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Core
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.PathwayName
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Specialisms
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">
                            @foreach (var splsm in Model?.Specialisms)
                            {
                            <p class="govuk-body">@splsm</p>
                            }
                        </p>
                        </dd>
                </div>
            </dl>

            <p class="govuk-body">We will investigate your query and update you within 3 working days.</p>

            <button class="govuk-button" data-module="govuk-button">Submit</button>
        </form>
    </div>
</div>
