@using Sfa.Tl.ResultsAndCertification.Web.Content.Tlevel
@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.SelectToReview.SelectToReviewPageViewModel

@{
    ViewData["Title"] = @SelectToReview.Page_Title;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-route="TlevelSelect">

            @if (Model.IsOnlyOneTlevelReviewPending)
            {
                <partial name="~/Views/Tlevel/SelectToReview/_one.cshtml" />
            }
            else
            {
                <partial name="~/Views/Tlevel/SelectToReview/_more.cshtml" />
            }
            <button type="submit" class="govuk-button" data-module="govuk-button">@SelectToReview.Continue_Button_Label</button>
            @if (Model.ShowViewReviewedTlevelsLink)
            {
                <p class="govuk-body"><a href="view-all-tlevels">@SelectToReview.ViewReviewedTlevelsLink</a></p>
            }
        </form>

    </div>
</div>