@using Sfa.Tl.ResultsAndCertification.Web.Content.Tlevel
@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.SelectToReview.SelectToReviewPageViewModel

@{
    ViewData["Title"] = Model.IsOnlyOneTlevelReviewPending ? @SelectToReview.One_Page_Title : @SelectToReview.More_Page_Title;
}

@section NavigationBar
{
    <vc:breadcrumb model="Model.BreadCrumb"></vc:breadcrumb>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-route="SelectTlevelSubmit">

            @if (Model.IsOnlyOneTlevelReviewPending)
            {
                <partial name="~/Views/Tlevel/SelectToReview/_one.cshtml" />
            }
            else
            {
                <partial name="~/Views/Tlevel/SelectToReview/_more.cshtml" />
            }
            <button type="submit" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">@SelectToReview.Continue_Button_Label</button>
            @if (Model.ShowViewReviewedTlevelsLink)
            {
                <p class="govuk-body"><a class="govuk-link" asp-route="YourTlevels">@SelectToReview.ViewReviewedTlevelsLink</a></p>
            }
        </form>
    </div>
</div>