@model IEnumerable<Sfa.Tl.ResultsAndCertification.Web.ViewModel.YourTlevelsViewModel>

@{
    ViewData["Title"] = "Select a T Level to Review";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="verify-tlevel-details-digital" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            Select a T Level to review
                        </h1>
                    </legend>

                    <p class="govuk-hint govuk-!-padding-bottom-4">You need to confirm the details of each T Level before you can tell us which centres are offering it.</p>

                    @if (Model?.Count() > 1)
                    {
                        <div class="govuk-radios govuk-!-padding-bottom-2">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="tlevel-name-1" name="tLevel-name" type="radio" value="Construction: Design, Surveying and Planning">
                                <label class="govuk-label govuk-radios__label" for="tlevel-name-1">
                                    Construction: Design, Surveying and Planning
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="tlevel-name-2" name="tLevel-name" type="radio" value="Digital: Digital Production, Design and Development">
                                <label class="govuk-label govuk-radios__label" for="level-name-2">
                                    Digital: Digital Production, Design and Development
                                </label>
                            </div>

                        </div>
                    }
                    else
                    {
                        <div>
                            <p class="govuk-body">Digital: Digital Production, Design and Development</p>
                        </div>
                    }

                </fieldset>
            </div>

            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
            @if (Model?.Count() > 1)
            {
                <p class="govuk-body"><a href="view-reviewed-tlevels-1">View reviewed T levels</a></p>
            }
            </form>
    </div>
</div>