@using Sfa.Tl.ResultsAndCertification.Web.Content
@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.SelectToReview.SelectToReviewPageViewModel

@{
    ViewData["Title"] = "Select a T Level to Review";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        @if (Model.IsOnlyOneTlevelReviewPending)
        {
            @Html.Partial("~/Views/Tlevel/SelectToReview/_one.cshtml", Model.TlevelsToReview.FirstOrDefault());
        }
        else
        {
            @Html.Partial("~/Views/Tlevel/SelectToReview/_more.cshtml", Model);
        }
        <button class="govuk-button" data-module="govuk-button">Continue</button>  @*TODO: another story?*@
        @if (Model.ShowViewReviewedTlevelsLink)
        {
            <p class="govuk-body"><a href="ViewAll">@SelectToReview.ViewReviewedTlevelsLink</a></p>
        }

    </div>
</div>