@using Sfa.Tl.ResultsAndCertification.Web.Content.Tlevel
@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.YourTlevelsViewModel

@{
    ViewData["Title"] = @ViewAll.Page_Title;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">@ViewAll.Section_Heading</h1>

        @if (Model.ConfirmedTlevels.Any())
        {
            <h2 class="govuk-heading-m">Confirmed T Levels</h2>
            <partial name="~/Views/Tlevel/YourTlevels/_tlevels.cshtml" model="Model.ConfirmedTlevels" />
        }

        @if (Model.QueriedTlevels.Any())
        {
            <h2 class="govuk-heading-m">Queried T Levels</h2> @*TODO: Content*@
            <partial name="~/Views/Tlevel/YourTlevels/_tlevels.cshtml" model="Model.QueriedTlevels" />
        }

        <a asp-controller="Dashboard"
           asp-action="Index" class="govuk-button" data-module="govuk-button">@ViewAll.Home_Button_Text</a>
    </div>
</div>
