@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.AdminAssessmentSeriesDates.AdminAssessmentSeriesDatesViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.AdminAssessmentSeriesDates
@using Sfa.Tl.ResultsAndCertification.Common.Helpers
@using Sfa.Tl.ResultsAndCertification.Common.Enum

@{
    ViewData["Title"] = AdminAssessmentSeriesDates.Page_Title;
}

@section NavigationBar
{
    <vc:back-link model=Model.BackLink></vc:back-link>
}
<h1 class="govuk-heading-xl">@AdminAssessmentSeriesDates.Heading_Assessment_Series_Dates</h1>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">

        <!-- Filters -->
        <div class="filter-border govuk-!-margin-bottom-9">
            <partial name="Partials/_searchFilters.cshtml" model="Model.SearchCriteria" />
        </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <div class="learner-records">
            <dl class="govuk-summary-list">
                @foreach (var series in Model.Series)
                {
                    <partial name="Partials/_assessmentSeriesDatesCard.cshtml" model="series" />
                }
            </dl>
        </div>
    </div>
</div>
