@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.AdminChangeLog.AdminViewChangeRecordIndustryPlacementViewModel
@using Sfa.Tl.ResultsAndCertification.Common.Helpers
@using Sfa.Tl.ResultsAndCertification.Web.Content.AdminChangeLog

@{
    ViewData["Title"] = AdminViewChangeRecord.Page_Title;
}

@section NavigationBar {
    <vc:back-link model=Model.BackLink></vc:back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <partial name="Partials/_viewRecordLogDetails.cshtml" />

        <div class="govuk-!-margin-top-8">
            <h2 class="govuk-heading-m">@AdminViewChangeRecord.Title_Change_Summary</h2>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">@AdminViewChangeRecord.Title_Change</dt>
                    <dt class="govuk-summary-list__key">@AdminViewChangeRecord.Title_From</dt>
                    <dt class="govuk-summary-list__key">@AdminViewChangeRecord.Title_To</dt>
                    <dt class="govuk-summary-list__key"></dt>
                </div>
                @foreach (var rowItem in Model.GetIpSummaryDetailsList())
                {
                    <vc:summary-item model=rowItem></vc:summary-item>
                }
            </dl>
        </div>

        <partial name="Partials/_viewRecordChangeRequestedDetails.cshtml" />
    </div>
</div>