@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Registration.Manual.UlnRegistrationNotFoundViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.Registration
@inject Sfa.Tl.ResultsAndCertification.Web.WebConfigurationHelper.IWebConfigurationService ConfigurationService

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l govuk-!-margin-bottom-6">
                   @string.Format(UlnRegisteredByOtherAo.Page_Heading, Model.Uln)
                </label>
            </h1>
            <p class="govuk-body">
                @string.Format(UlnRegisteredByOtherAo.Information_Text_Part1, Model.RegisteredWithAoName)
            </p>
        </div>
        <p>
            <a class="govuk-button" asp-route="RegistrationDashboard">
                @UlnRegisteredByOtherAo.Button_Back_To_Registrations
            </a>
        </p>
    </div>
</div>
