<div id="processingRegistrationsContainer" class="tl-hide">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group">
                <h1 class="govuk-heading-xl">
                    Processing registrations file
                </h1>
            </div>

        <div class="tl-box-container">
            <div class="tl-spinner-container" tabindex="0" > @*TODO: Elliott SR*@
                <div class="tl-spinner-control">
                    <div class="tl-spinner"></div>
                </div>
                <div class="tl-spinner-label govuk-body">
                    Processing, please wait. 
                    This could take up to 10 seconds. Please do not refresh.
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
