
@{
    ViewData["Title"] = "UploadUnsuccessful";
}

<h1> Upload is unsucessful</h1>

<h4>Development in progress</h4>

<a href="\download-result-errors?id=@ViewBag.BlobId"> Download validation errors </a>