@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Registration.Manual.DateofBirthViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.Registration

@{
    ViewData["Title"] = "Add a new registration - Enter the learner’s date of birth page";
}

@section NavigationBar {
    <vc:back-link model=Model.BackLink></vc:back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" asp-route="SubmitRegistrationDateofBirth">
            <partial name="_ValidationSummary" />

            <div class="govuk-form-group">
                <span class="govuk-caption-xl">Add a new registration</span>
                <fieldset class="govuk-fieldset" role="group">
                    <div sfa-group-error-line-class="govuk-form-group--error">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                Enter the learner's date of birth
                            </h1>
                        </legend>
                        <span id="dob-hint" class="govuk-hint">
                            For example, 23&nbsp;&nbsp;9&nbsp;&nbsp;2001
                        </span>
                        <div class="govuk-form-group">

                            <div class="govuk-date-input" id="dob">
                                <span sfa-validation-for="Day"></span>
                                <span sfa-validation-for="Month"></span>
                                <span sfa-validation-for="Year"></span>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="day">
                                            Day
                                        </label>
                                        <input id="day" asp-for="Day" sfa-input-validation-for="Day" class="govuk-input govuk-date-input__input govuk-input--width-2">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="month">
                                            Month
                                        </label>
                                        <input id="month" asp-for="Month" sfa-input-validation-for="Month" class="govuk-input govuk-date-input__input govuk-input--width-2">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="year">
                                            Year
                                        </label>
                                        <input id="year" asp-for="Year" sfa-input-validation-for="Year" class="govuk-input govuk-date-input__input govuk-input--width-4">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </fieldset>
            </div>
            <p>
                <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
            </p>
        </form>
    </div>
</div>
