
@{
    ViewData["Title"] = "Add a new registration - Select the specialism page";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
            <span class="govuk-caption-xl">Select the specialism</span>
        </div>
    </div>
</div>