@using Sfa.Tl.ResultsAndCertification.Web.Content.Registration

@{
    ViewData["Title"] = "Add a new registration - Enter the learner’s date of birth page";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       Development in progress
    </div>
</div>


