@{
    ViewData["Title"] = "Registrations upload successful page";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">Upload successful</h1>
        </div>
        <p class="govuk-body govuk-!-padding-top-3">You successfully sent 230 registrations.</p>
        <p class="govuk-!-margin-top-8"><a asp-route="RegistrationDashboard" class="govuk-button" role="button">Back to registrations</a></p>

    </div>
</div>