<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/V2-0/AO/tlevels-dashboard" method="post" novalidate="" data-validate="search-for-learner-validation">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                <h1 class="govuk-fieldset__heading">
                                    Download registrations data
                                </h1>
                            </legend>

                        </fieldset>
                    </div>

                    <div class="govuk-grid-row">

                        <div class="govuk-grid-column-one-quarter">
                            <img src="/public/images/document-image.png" alt="Document-image">
                        </div>
                        <div class="govuk-grid-column-three-quarters">
                            <h1 class="govuk-heading-s">

                                <a href="data:text/csv;charset=utf-8,ULN,Core code,Core assessment entry,Specialism code(s),Specialism assessment entry
                          22222222222222,60358294,Summer 2021,22222222222223,60358294,Summer 2021,22222222222224,60358294,Summer 2021" download="2021-11-18_16-38_11_registrations.csv">Registrations.CSV, 295 bytes</a>
                            </h1>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">Back to home</button>
        </form>
    </div>
</div>