@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.Registration.UploadRegistrationsFileViewModel

@{
    ViewData["Title"] = "Upload registrations file page";
}

<!-- MAIN HEADING -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <partial name="_ValidationSummary" />
        <div class="govuk-form-group">
            <h1 class="govuk-heading-xl">
                Upload registrations file
            </h1>
        </div>
    </div>
</div>

<!-- MAIN ROW -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">You can <strong>add</strong> new registrations and <strong>amend</strong> existing registrations by uploading them in the same file or separate files.</p>
        <p class="govuk-body">We can only accept files that:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>are in CSV format</li>
            <li>include all mandatory fields</li>
            <li>contain between one and 10,000 registrations</li>
        </ul>
        <form class="form" asp-route="SubmitUploadRegistrationsFile" enctype="multipart/form-data">
            <div class="govuk-form-group" sfa-validation-for="File" sfa-validation-class="govuk-form-group--error">
                <label for="file" class="govuk-label govuk-!-font-size-19 govuk-!-padding-top-5 govuk-!-font-weight-bold">
                    Select the file to upload
                </label>
                <span sfa-validation-for="File"></span>
                <input class="govuk-file-upload" id="file" asp-for="File" type="file" accept=".csv">
            </div>
            <button class="govuk-button" data-module="govuk-button" type="submit">Upload file</button>
        </form>
    </div>
</div>