
@{
    ViewData["Title"] = "Select specialisms page";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2>Select Specialisms - Placeholder page. Will pickup this in next story</h2>
    </div>
</div>