@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.StatementOfAchievement.RequestSoaSubmittedAlreadyViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.StatementOfAchievement

@{
    ViewData["Title"] = "TODO";
}

@section NavigationBar {
    <vc:breadcrumb model=@Model.Breadcrumb></vc:breadcrumb>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <h1 class="govuk-heading-xl">Statement of achievement has already been requested</h1>
        <div class="govuk-inset-text">
            <p class="govuk-body">Date requested: @Model.RequestedDate</p>
            <p class="govuk-body">Requested by: @Model.RequestedBy</p>
            <p class="govuk-body">A request has already been submitted for this learner. If you don't receive the statement of achievement after three weeks, <a href="https://manage-tlevel-results.tlevels.gov.uk/contact-us">contact us</a> or submit a new request.</p>
        </div>

        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-7 govuk-!-margin-top-7">

        <h1 class="govuk-heading-l"> Statement of achievement details</h1>

        <dl class="govuk-summary-list">

            <h2 class="govuk-heading-m">Learner's details</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <vc:summary-item model=Model.SummaryUln></vc:summary-item>
                <vc:summary-item model=Model.SummaryLearnerName></vc:summary-item>
                <vc:summary-item model=Model.SummaryDateofBirth></vc:summary-item>
                <vc:summary-item model=Model.SummaryProvider></vc:summary-item>
            </dl>

            <h2 class="govuk-heading-m">Learner's technical qualification details</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <vc:summary-item model=Model.SummaryTlevelTitle></vc:summary-item>
                <vc:summary-item model=Model.SummaryCoreCode></vc:summary-item>
                <vc:summary-item model=Model.SummarySpecialismCode></vc:summary-item>
            </dl>

            <h2 class="govuk-heading-m">Learner's T level component achievements</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <vc:summary-item model=Model.SummaryEnglishAndMaths></vc:summary-item>
                <vc:summary-item model=Model.SummaryIndustryPlacement></vc:summary-item>
            </dl>

            <h2 class="govuk-heading-m">Your organisation's postal address</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <vc:summary-item model=Model.SummaryDepartment></vc:summary-item>
                <vc:summary-item model=Model.SummaryAddress></vc:summary-item>
            </dl>

            <p class="govuk-body">
                <a id="backToHomeButton" class="govuk-button" role="button" asp-route="Home">
                    Back to Home
                </a>
            </p>
        </dl>
    </div>
</div>