@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.PostResultsService.PrsLearnerDetailsViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.PostResultsService

@{
    ViewData["Title"] = StartReviewsAndAppeals.Page_Title;
}

@section NavigationBar {
    <vc:breadcrumb model=@Model.Breadcrumb></vc:breadcrumb>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <h1 class="govuk-heading-l">Learner’s component grades status</h1>

        <h2 class="govuk-heading-m govuk-!-margin-top-7">Learner's details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    ULN
                </dt>
                <dd class="govuk-summary-list__value">
                    0987654321
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value">
                    Danny Waldron
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                    24 December 2002
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Provider <br>(UKPRN)
                </dt>
                <dd class="govuk-summary-list__value">
                    Barnsley College <br>
                    (10000536)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    T Level
                </dt>
                <dd class="govuk-summary-list__value">
                    T Level in Design, Surveying and Planning for Construction
                </dd>
            </div>
        </dl>

        <section id="coreComponent">

            <h2 class="govuk-heading-m">Core (code): Design, Surveying and Planning (60358300)</h2>
            <div class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__value govuk-!-font-weight-bold">Exam Period</dd>
                    <dd class="govuk-summary-list__value">Summer 2021</dd>
                    <dd class="govuk-summary-list__value"></dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href=""></a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__value govuk-!-font-weight-bold">Grade</dd>
                    <dd class="govuk-summary-list__value">

                        C

                    </dd>
                    <dd class="govuk-summary-list__value">

                    </dd>
                    <dd class="govuk-summary-list__actions">

                        <a class="govuk-link" href="core-put-on-appeal-2021">
                            Update <span class="govuk-visually-hidden"> grade</span>
                        </a>

                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__value govuk-!-font-weight-bold">Last updated</dd>
                    <dd class="govuk-summary-list__value">

                        4 May 2021
                    </dd>
                    <dd class="govuk-summary-list__value"></dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href=""></a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__value govuk-!-font-weight-bold">Updated by</dd>
                    <dd class="govuk-summary-list__value">

                        Tony Gates

                    </dd>
                    <dd class="govuk-summary-list__value"></dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href=""></a>
                    </dd>
                </div>
            </div>

        </section>
        <a class="govuk-button govuk-!-margin-top-7" role="button" href="search-learner">Search again</a>
    </div>
</div>

