@model Sfa.Tl.ResultsAndCertification.Web.ViewComponents.NotificationBanner.NotificationBannerModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.ViewComponents;

@if (Model != null)
{
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                @NotificationBanner.Heading_Success
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            @if (Model.DisplayMessageBody)
            {
                <h3 class="govuk-notification-banner__heading">
                    @Model.HeaderMessage
                </h3>
                <p class="govuk-body">@Model.Message</p>
            }
            else
            {
                <h3 class="govuk-notification-banner__heading">
                    @Model.Message
                </h3>
            }
        </div>
    </div>
}