.learner-records {
    .govuk-grid-row {
        padding: 15px 0;
    }

    .govuk-summary-list {
        &__key, &__value {
            padding: 0;
            width: 100%;
            border-bottom: none;
        }

        &__actions {
            padding: 0;
            border-bottom: none;
        }

        .govuk-summary-list__row {
            display: block;
            border-bottom: 1px solid #B1B4B6;
        }
    }
}

.filter-border {
    border: 1px solid #b1b4b6;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}

.app-filter__tag {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.14286;
    background-color: #ffffff;
    border: 1px solid #0b0c0c;
    color: #0b0c0c;
    display: inline-block;
    margin-top: 5px;
    padding: 5px;
    text-decoration: none;
}