.tl-button--blue {
  background: govuk-colour("blue");
  &:hover,
  &:focus {
    background: darken(govuk-colour("blue"), 10%);
  }
}

.tl-button--red {
    background: govuk-colour("red");

    &:hover,
    &:focus {
        background: darken(govuk-colour("red"), 10%);
    }
}

// Rework button to look like a link
.tl-button--looks-like-link {
    display: block;
    padding: govuk-spacing(0);
    margin: govuk-spacing(0);
    border: 0;
    text-decoration: underline;
    background: none;
    box-shadow: none;
    text-align: left;
    cursor: pointer;
    color: $govuk-link-colour;

    &:hover, &:active {
        top: 0;
        background: none;
        color: $govuk-link-hover-colour;
        text-decoration: underline;
    }

    &:focus {
        background: $govuk-focus-colour;
    }

    &:visited {
        color: $govuk-link-visited-colour;
    }
}
