$border-color-blue: #1d70b8;

/* custom styles for cookie banner*/

/*hide cookie button, cookie confirmation and cookie preferences section if javascript is disabled*/
.tl-additional-cookies-button, .tl-cookie-confirmation, .cookie-preferences {
    display: none;
}

/* if javascript is enabled hide cookie banner if not show cookie banner*/
.js-enabled {
    .tl-cookie-banner {
        display: none;

        .tl-cookie-confirmation {
            display: none;
        }        

        .tl-additional-cookies-button {
            display: inline-block;
        }
    }

    .cookie-preferences__no-js {
        display: none;
    }

    .cookie-preferences {
        display: inline-block;
    }
}

.save-notice {
    padding: 15px;
    clear: both;
    margin-bottom: 30px;
    border: 5px solid $border-color-blue;
}