/*Tlevel Home page card styles*/
.card {
    background-color: #f3f2f1;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 0px;
    height: 100%;
    margin-bottom: 10px;
    min-height: 130px;
}

.registration-card {
    @extend .card;
    margin-bottom: 30px;
}

.assessment-card {
    @extend .card;
    margin-bottom: 30px;
    min-height: 190px;
}

.result-card {
    @extend .card;
    margin-bottom: 30px;
}

.manage-learner-records-card {
    @extend .card;
    min-height: 160px;
}

.training-provider-card {
    @extend .card;
    min-height: 160px;
}

@media screen and (max-width: 980px) and (min-width: 640px) {
    .card {
        min-height: 155px;
    }

    .assessment-card {
        min-height: 270px;
    }

    .manage-learner-records-card {
        min-height: 335px;
    }

    .training-provider-card {
        min-height: 185px;
    }
}

@media screen and (max-width: 983px) and (min-width: 807px) {
    .manage-learner-records-card {
        min-height: 285px;
    }
}

@media screen and (max-width: 915px) and (min-width: 760px) {
    .training-provider-card {
        min-height: 185px;
    }
}

@media screen and (max-width: 760px) and (min-width: 682px) {
    .training-provider-card {
        min-height: 215px;
    }
}

@media screen and (max-width: 682px) and (min-width: 656px) {
    .training-provider-card {
        min-height: 240px;
    }
}

@media screen and (max-width: 656px) and (min-width: 640px) {
    .training-provider-card {
        min-height: 240px;
    }

    .manage-learner-records-card {
        min-height: 360px;
    }
}

.ao-dashboard-card {
    @extend .card;
    min-height: 185px;
    padding-top: 10px;
}

@media screen and (max-width: 837px) and (min-width: 808px) {
    .ao-dashboard-card {
        min-height: 205px;
    }
}

@media screen and (max-width: 807px) and (min-width: 640px) {
    .ao-dashboard-card {
        min-height: 285px;
    }
}

@media screen and (max-width: 640px) {
    .card, .ao-dashboard-card, .training-provider-card, .manage-learner-records-card {
        min-height: unset;
    }
}

.tlevels-dashboard-card {
    @extend .card;
    margin-bottom: 20px;
    min-height: unset;
}
