/*Tlevel Home page card styles*/
.card {
    background-color: #f3f2f1;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 0px;
    height: 100%;
    margin-bottom: 10px;
    min-height: 130px;
}

.registration-card {
    @extend .card;
    margin-bottom: 30px;
    min-height: 230px;
}

.assessment-card {
    @extend .card;
    margin-bottom: 30px;
    min-height: 190px;
}

.result-card {
    @extend .card;
    margin-bottom: 30px;
    min-height: 170px;
}

@media screen and (max-width: 980px) and (min-width: 640px) {
    .card {
        min-height: 155px;
    }

    .registration-card {
        min-height: 310px
    }

    .assessment-card {
        min-height: 270px;
    }

    .result-card {
        min-height: 245px;
    }
}

.tlevels-dashboard-card {
    @extend .card;
    margin-bottom: 20px;
    min-height: unset;
}

/*NEW Styles*/

.chevron-card {
    border-top: 1px solid #b1b4b6;
    margin: 0 15px;
    padding: 5px 0 10px 0;
    list-style: none;
}

.homepage-section--services-and-info {
    padding: 30px 0 0;
}

.chevron-card__wrapper {
    padding: 10px 30px 10px 0;
    position: relative;
}

.homepage-section__heading--border-none { /*NotUsed*/
    border: none;
    padding: 0;
}

.homepage-section__heading { /*NotUsed*/
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #0b0c0c;
    margin: 0 0 30px;
    padding: 15px 0 0;
}

.gem-c-heading {
    margin: 0;
}

.chevron-card__link:before {
    border-right: 3px solid #1d70b8;
    border-top: 3px solid #1d70b8;
    content: "";
    display: block;
    height: 7px;
    position: absolute;
    right: 5px;
    top: 15px;
    -webkit-transform: translateY(0) rotate(45deg) scale(1);
    -ms-transform: translateY(0) rotate(45deg) scale(1);
    transform: translateY(0) rotate(45deg) scale(1);
    width: 7px;
}

.chevron-card__description {
    margin: 0 -30px 0 0;
}

.chevron-card__link:after {
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.govuk-grid-row:after {
    content: "";
    display: block;
    clear: both;
}

.homepage-services-and-info__list {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: row;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr 1fr;
    list-style: none;
    margin: 0 -15px;
    padding: 0;
}

.two-column-services-and-info__list {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: row;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr 1fr;
    list-style: none;
    margin: 0 -15px;
    padding: 0;
}

.single-column-services-and-info__list {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: row;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr 1fr;
    list-style: none;
    margin: 0 -15px;
    padding: 0;
}

@media screen and (max-width: 1000px) {
    .homepage-services-and-info__list {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 800px) {
    .homepage-services-and-info__list {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 800px) {
    .two-column-services-and-info__list {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
