.gem-c-attachment__thumbnail {
    position: relative;
    width: auto;
    margin-right: 25px;
    margin-bottom: 15px;
    padding: 5px;
    float: left;
}

.gem-c-attachment__thumbnail-image {
    display: block;
    width: auto;
    max-width: 99px;
    height: 140px;
    border: rgba(11, 12, 12, 0.1);
    outline: 5px solid rgba(11, 12, 12, 0.1);
    background: #ffffff;
    box-shadow: 0 2px 2px rgba(11, 12, 12, 0.4);
    fill: #b1b4b6;
    stroke: #b1b4b6;
}

.gem-c-attachment:after {
    content: "";
    display: block;
    clear: both;
}


.attachment__thumbnail {
    position: relative;
    width: auto;
    margin-right: 25px;
    margin-bottom: 15px;
    padding: 5px;
    float: left;
}

.attachment__thumbnail-image {
    display: block;
    width: auto;
    border: rgba(11, 12, 12, 0.1);
    outline: 5px solid rgba(11, 12, 12, 0.1);
    background: #ffffff;
    box-shadow: 0 2px 2px rgba(11, 12, 12, 0.4);
    fill: #b1b4b6;
    stroke: #b1b4b6;
}

.thumbnail-image-small {
    max-width: 99px;
    height: 60px;
}

.thumbnail-image-large {
    max-width: 99px;
    height: 120px;
}

.attachment__details {
    padding-left: 16px;
}