
/* Add/Remove Paddings*/

.hard {
    padding: 0 !important;
}

.hard--top {
    padding-top: 0 !important;
}

.hard--right {
    padding-right: 0 !important;
}

.hard--bottom {
    padding-bottom: 0 !important;
}

.hard--left {
    padding-left: 0 !important;
}

.hard--ends {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.hard--sides {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

/* Add/remove floats */
.float--right {
    float: right !important;
}

.float--left {
    float: left !important;
}

.float--none {
    float: none !important;
}

.pull--right {
    float: right;
}

/* Text alignment */

.text--left {
    text-align: left !important;
}

.text--center {
    text-align: center !important;
}

.text--right {
    text-align: right !important;
}

// Margin classes

.hard-margin-top {
    margin-top: 0px !important;
}


// Generic float classes

.tl-float-left {
    float: left;
}

.tl-float-right {
    float: right;
}

.tl-hide {
    display: none;
}

.tl-no-border-bottom {
    border-bottom: none !important;
}

body {
    &.js-enabled {

        .tl-show-on-js-only {
            display: inherit;
        }
    }
    .tl-show-on-js-only {
        display: none;
    }
}

.govuk-tag--green {
    color: #005a30;
    background: #cce2d8;
}

.govuk-tag--blue {
    color: #144e81;
    background: #d2e2f1;
}

.tag-float-right {
    float: right;
}

.result-details {
    .govuk-summary-list__key, .govuk-summary-list__value, .govuk-summary-list__actions {
        border-bottom: none !important;
    }
}

@media screen and (max-width: 640px) {
    .soa-details {
        margin-bottom: 20px;

        .float--right {
            float: none !important;
        }
    } 
    
    .tag-float-right {
        float: unset;
    }
}

input[type="radio"] {
    + label + noscript > div.show-on-event {
        display: none;
    }

    &:checked + label + noscript > div.show-on-event {
        display: block;
    }
 }

.record-header {
    margin-bottom: govuk-spacing(6);
}

/* Responsive table styling */
.responsive-table {
    margin-bottom: 0;
    width: 100%;
}

thead {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

tbody tr {
    display: block;
    margin-bottom: 1.5em;
    padding: 0 0.5em;
}

tbody tr td {
    display: block; /* browsers that don't support flex */
    display: flex;
    justify-content: space-between;
    min-width: 1px;
    text-align: right;
}

@media all and (-ms-high-contrast: none) { /* IE11 flex fix */
    tbody tr td {
        display: block;
    }
}

.responsive-table__heading {
    font-weight: 700;
    padding-right: 1em;
    text-align: left;
    word-break: initial;
}

@media (max-width: 768px) {
    tbody tr td {
        padding-right: 0;
    }

    tbody tr td:last-child {
        border-bottom: 0;
    }

    tbody tr {
        border-bottom: 3px solid grey;
    }

    .govuk-table__cell {
        padding: 10px 0px 10px 0
    }
}

@media (min-width: 769px) {
    thead {
        clip: auto;
        -webkit-clip-path: none;
        clip-path: none;
        display: table-header-group;
        height: auto;
        overflow: auto;
        position: relative;
        width: auto;
    }

    tbody tr {
        display: table-row;
    }

    tbody tr td {
        display: table-cell;
        text-align: left;
    }

    .responsive-table__heading {
        display: none;
    }
}

@media (max-width: 640px) {
    .remove-class-mobile {
        display: none;
    }
}