
/* Add/Remove Paddings*/

.hard {
    padding: 0 !important;
}

.hard--top {
    padding-top: 0 !important;
}

.hard--right {
    padding-right: 0 !important;
}

.hard--bottom {
    padding-bottom: 0 !important;
}

.hard--left {
    padding-left: 0 !important;
}

.hard--ends {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.hard--sides {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

/* Add/remove floats */
.float--right {
    float: right !important;
}

.float--left {
    float: left !important;
}

.float--none {
    float: none !important;
}

.pull--right {
    float: right;
}

/* Text alignment */

.text--left {
    text-align: left !important;
}

.text--center {
    text-align: center !important;
}

.text--right {
    text-align: right !important;
}

// Margin classes

.hard-margin-top {
    margin-top: 0px !important;
}


// Generic float classes

.tl-float-left {
    float: left;
}

.tl-float-right {
    float: right;
}

.tl-hide {
    display: none;
}

.tl-no-border-bottom {
    border-bottom: none !important;
}

body {
    &.js-enabled {

        .tl-show-on-js-only {
            display: inherit;
        }
    }
    .tl-show-on-js-only {
        display: none;
    }
}

.govuk-tag--green {
    color: #005a30;
    background: #cce2d8;
}

.govuk-tag--blue {
    color: #144e81;
    background: #d2e2f1;
}

.tag-float-right {
    float: right;
}

.result-details {
    .govuk-summary-list__key, .govuk-summary-list__value, .govuk-summary-list__actions {
        border-bottom: none !important;
    }
}

@media screen and (max-width: 640px) {
    .soa-details {
        margin-bottom: 20px;

        .float--right {
            float: none !important;
        }
    } 
    
    .tag-float-right {
        float: unset;
    }
}

input[type="radio"] {
    + label + noscript > div.show-on-event {
        display: none;
    }

    &:checked + label + noscript > div.show-on-event {
        display: block;
    }
 }