.pagination {
    padding: 0;

    &__item {
        display: inline-block;
        list-style: none;
    }

    &__link {
        display: block;
        padding: 5px 10px;
        text-decoration: none;

        &:hover,
        &:focus {
            background: govuk-colour("light-grey");
            outline: 3px solid $govuk-focus-colour;
        }

        &__current-page {
            color: $govuk-text-colour;
            font-weight: 700;
            border: none;
            pointer-events: none;
            cursor: default;

            &:hover,
            &:focus {
                color: $govuk-text-colour;
                background: none;
            }
        }
    }
}
