@using Sfa.Tl.ResultsAndCertification.Web.Content.ProviderAddress

@{
    ViewData["Title"] = AddAddressConfirmation.Page_Title;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">@AddAddressConfirmation.Organisation_Postal_Address_Added_Successful_Text</h1>
        </div>

        <p class="govuk-body">@AddAddressConfirmation.Certificates_And_Statements_Of_Achievement_Will_Be_Sent_Text</p>
        <p class="govuk-body">@AddAddressConfirmation.If_You_Have_Changed_The_Address_Text</p>

        <p class="govuk-!-margin-top-6"><a id="backToHome" class="govuk-button" role="button" asp-route="Home">@AddAddressConfirmation.Back_To_Home_Button_Text</a></p>
    </div>
</div>