@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.ProviderAddress.AddAddressNotFoundViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.ProviderAddress

@{
    ViewData["Title"] = "TODO";
}

@section NavigationBar {
    <vc:back-link model=Model.BackLink></vc:back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-route="SubmitAddAddressNotFound">

            <h1 class="govuk-heading-xl">No addresses found for @Model.Postcode</h1>
            <p class="govuk-body">If you typed the postcode, check it is correct.</p>
            <p class="govuk-body">If you pasted the postcode, check you copied the entire postcode.</p>
            <p class="govuk-body">If the postcode is correct, <a asp-route="AddAddressManually" asp-route-isFromSelectAddress="true">add your address manually</a>.</p>

            <button type="submit" id="tryAnotherButton" class="govuk-button" data-module="govuk-button">Try another postcode</button>
        </form>
    </div>
</div>
