@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.ProviderAddress.AddPostalAddressManualViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.ProviderAddress

@{
    ViewData["Title"] = AddAddressPostcode.Page_Title;
}

@section NavigationBar {
    <vc:back-link model=Model.BackLink></vc:back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <form action="add-address-manually" method="post" class="form">
            <div class="govuk-form-group govuk-!-margin-bottom-7">
                <span class="govuk-caption-xl">Add address</span>
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            What is your organisation's postal address?
                        </h1>
                    </legend>
                    <p class="govuk-body-m">This must be a business address.</p>
                    <div class="govuk-form-group">
                        <label class="govuk-label " for="dept-name">
                            Department (optional)
                        </label>
                        <input class="govuk-input  govuk-!-width-two-thirds" asp-for="Department" type="text">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="AddressLine1">
                            Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
                        </label>
                        <input class="govuk-input" asp-for="AddressLine1" type="text" autocomplete="on">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="AddressLine2">
                            <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
                        </label>
                        <input class="govuk-input" asp-for="AddressLine2" type="text" autocomplete="on">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="Town">
                            Town or city
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" asp-for="Town" type="text" autocomplete="on">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="Postcode">
                            Postcode
                        </label>
                        <input class="govuk-input govuk-input--width-10" asp-for="Postcode" type="text" autocomplete="on" maxlength="8">
                    </div>

                </fieldset>
            </div>
            <button class="govuk-button" role="button">Continue</button>
        </form>
    </div>
</div>