@model Sfa.Tl.ResultsAndCertification.Web.ViewModel.ProviderAddress.ManagePostalAddressViewModel
@using Sfa.Tl.ResultsAndCertification.Web.Content.TrainingProvider

@{
    ViewData["Title"] = ManagePostalAddress.Page_Title;
}

@section NavigationBar {
    <vc:breadcrumb model=@Model.Breadcrumb></vc:breadcrumb>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l">@ManagePostalAddress.Manage_Postal_Address_Heading</h1>
        <p class="govuk-body-m">@ManagePostalAddress.Add_Address_Before_Request_Certificate_Text</p>
        <p class="govuk-inset-text">@ManagePostalAddress.Add_Address_Before_Request_Certificate_Inset_Text</p>
        <p class="govuk-body">
            <a id="addAddressButton" class="govuk-button" role="button" asp-route="AddAddress">@ManagePostalAddress.Button_Add_Address</a>
        </p>
    </div>
</div>