@using Sfa.Tl.ResultsAndCertification.Web.Content.Result

<noscript>
    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">@Upload.Warning_Text</span>
            @Upload.Js_Disabled_Upload_File_Help_Text
        </strong>
    </div>

    <button id="uploadResultsButton" class="govuk-button" data-module="govuk-button" type="submit" data-prevent-double-click="true">@Upload.Js_Disabled_Upload_File_Button_Text</button>
</noscript>